body {
    overflow: hidden;
    padding: 0;
}

#canvas {
    padding: 0;
    align-self: center;
    justify-self: center;
}

#time {
    margin: 0;
    padding: 0;

    top: 200px;
    left: 200px;
}